<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleafe">
<head>
    <meta charset="UTF-8">
    <title>Find person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people/find}" th:object="${searchPerson}">
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"> Surname error</div>
    <br/>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Name error</div>
    <br/>
    <input type="submit" value="Find person"/>
</form>

</body>
</html>