<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleafe">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>FIO</th>
        <th>Age</th>
        <th>Salary</th>
        <th>eMail</th>
        <th>Department</th>
        <th>Send eMail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${people}">
        <td th:text="${person.getId()}">id</td>
        <td th:text="${person.getFio()}">fio</td>
        <td th:text="${person.getAge()}">age</td>
        <td th:text="${person.getSalary()}">salary</td>
        <td th:text="${person.getEmail()}">eMail</td>
        <td th:text="${person.getDepartment()}">department</td>
        <td><a th:href="@{/people/send/{email}(email=${person.getEmail()})}">send mail</a></td>

    </tr>
    </tbody>
</table>
<br>

<form method="get" th:action="@{/people/new}">
    <button type="submit"> Add person</button>
</form>
<br/>
<form method="get" th:action="@{/people/find}">
    <button type="submit">Find person</button>
</form>
<br/>
<form enctype="multipart/form-data" method="post" th:action="@{/upload}">
    <input name="file" type="file">
    <button type="submit">Upload File</button>
</form>
</body>
</html>