<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleafe">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
<form th:method="POST" th:action="@{/people/send/}" th:object="${email}">
    <label for="emailAddress">Enter email address: </label>
    <input type="text" th:field="*{emailAddress}" id="emailAddress">
    <br/>

    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title">

    <br/>
    <label for="message">Enter message: </label>
    <input type="text" th:field="*{message}" id="message">

    <br/>
    <input type="submit" value="Send eMail"/>
</form>

</body>
</html>