<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleafe">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
</head>
<body>
<form th:action="@{/people}" th:method="POST" th:object="${person}">
    <label for="surname">Enter surname: </label>
    <input id="surname" th:field="*{surname}" type="text">
    <div style="color: red" th:errors="*{surname}" th:if="${#fields.hasErrors('surname')}"> Surname error</div>
    <br/>
    <label for="name">Enter name: </label>
    <input id="name" th:field="*{name}" type="text">
    <div style="color: red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"> Name error</div>
    <br/>
    <label for="patronymic">Enter patronymic: </label>
    <input id="patronymic" th:field="*{patronymic}" type="text">
    <div style="color: red" th:errors="*{patronymic}" th:if="${#fields.hasErrors('patronymic')}"> Patronymic error</div>
    <br/>
    <label for="age">Enter age: </label>
    <input id="age" th:field="*{age}" type="text">
    <div style="color: red" th:errors="*{age}" th:if="${#fields.hasErrors('age')}"> Age error</div>
    <br/>
    <label for="salary">Enter salary: </label>
    <input id="salary" th:field="*{salary}" type="text">
    <div style="color: red" th:errors="*{salary}" th:if="${#fields.hasErrors('salary')}"> Salary error</div>
    <br/>
    <label for="email">Enter email: </label>
    <input id="email" th:field="*{email}" type="text">
    <div style="color: red" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"> Email error</div>
    <br/>
    <label for="department">Enter department: </label>
    <input id="department" th:field="*{department}" type="text">
    <div style="color: red" th:errors="*{department}" th:if="${#fields.hasErrors('department')}"> Department error</div>
    <br/><br/>
    <input type="submit" value="Add new person"/>
</form>
</body>
</html>