<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleafe">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Person card</h2>
<p th:text="${'ID: ' + person.getId()}">id</p>
<p th:text="${'FIO: ' + person.getFio()}">fio</p>
<p th:text="${'Age: ' + person.getAge()}">age</p>
<p th:text="${'Salary: ' + person.getSalary()}">salary</p>
<p th:text="${'eMail: ' + person.getEmail()}">eMail</p>
<p th:text="${'Department: ' + person.getDepartment()}">department</p>
<p th:text="${'Current time: ' + #dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}">department</p>
<p th:text="${'User agent: ' + #httpServletRequest.getHeader('User-Agent')}">department</p>
</body>
</html>